# Core
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
xgboost

# EDA & Plotting
plotly
missingno
sweetviz

# Model interpretation
shap
lime

# Dev & CI
dvc
pytest

# Notebook and tooling
jupyter
ipykernel
notebook